{
  "endOfLine": "auto",
  "printWidth": 140,
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "proseWrap": "always"
}
